<!DOCTYPE html>
<html>
  <head>
    <title>Coding Monster</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="<%= root_path %>">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
            코딩몬스터
          </a>
        </div>
        <div class="m-auto">
          <%= form_with url: search_path, method: :get, local: true, class: 'form-inline search-form' do |form| %>
            <%= form.text_field :query, value: params[:query], class: 'form-control mr-sm-2', placeholder: '#search' %>
          <% end %>
        </div>
        <div class="user-section">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <% if user_signed_in? %>
            <a href="<%= user_path(current_user)%>">
              <i class="fa fa-user"></i>
            </a>
          <% else %>
            <a href="<%= new_user_session_path%>">
              <i class="fa fa-sign-in"></i>
            </a>
          <% end %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">

<p align="middle">
  <iframe width="817" height="460" src="https://www.youtube.com/embed/zndvqTc4P9I" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</p>
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li><a href="/">길동수</a></li>
          <li><a href="/">김동인</a></li>
          <li><a href="/chun">천승환</a></li>
          <li><a href="/">MENU1</a></li>
          <li><a href="/">MENU2</a></li>
          <li><a href="/">MENU3</a></li>
          <li><a href="/">MENU4</a></li>
          <li><a href="/">MENU5</a></li>
          <li><a href="/">MENU6</a></li>
          <li><a href="/">MENU7</a></li>
          <li><a href="/">MENU8</a></li>
        </ul>
        <p> © 2019 Co Mon </p>
      </nav>
    </footer>
  </body>
</html>
